<div class="container">
  <div class="row">
      <ui-carousel #uiCarousel [infinite]="true" [fade]="true" [speed]="300"
      [arrows]="true" height="500px" width="1200px">
         <ui-carousel-item>
             <img src="./assets/images/img1.png" alt="" draggable="false">
         </ui-carousel-item>
         <ui-carousel-item>
             <img src="./assets/images/img2.png" alt="" draggable="false">
         </ui-carousel-item>
         <ui-carousel-item>
             <img src="./assets/images/img3.png" alt="" draggable="false">
         </ui-carousel-item>
        </ui-carousel>
  </div>
  <div class="row mid">
      <div class="col-sm-8 caseta">
        prima coloana
      </div>
      <div class="col-sm-4 news">
        a 2a coloana
        </div>
  
    </div>
    <div class="row">
      <div class="col-sm despre">
        prima coloana
      </div>
      <div class="col-sm tranzactii">
        a 2la coloana
        </div>
        <div class="col-sm contact">
          a 3a coloana
          </div>
    </div>
    
</div>