<div class="container">
  <div class="row">
          <ui-carousel #uiCarousel [infinite]="true" [fade]="true" [speed]="300"
          [arrows]="true" height="500px" width="1200px">
             <ui-carousel-item>
                 <img src="./assets/images/img1.png" alt="" draggable="false">
             </ui-carousel-item>
             <ui-carousel-item>
                 <img src="./assets/images/img2.png" alt="" draggable="false">
             </ui-carousel-item>
             <ui-carousel-item>
                 <img src="./assets/images/img3.png" alt="" draggable="false">
             </ui-carousel-item>
            </ui-carousel>
  </div>
</div>